{% extends "esInvestApp/base.html" %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1 col-2">
                <div class="orange_line"></div>
            </div>
            <div class="col-10">
                <h2>
                    О нас
                </h2>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h4>
                    Ищете способы надежно вложить свой капитал?
                </h4>
                <p>
                    Стремитесь к максимальной прибыли от инвестиций? Хотите минимизировать риски обесценивания инвестиций и защитится от мошеннических проектов? ES Invest Group — ваш
                    надежный проводник в мире управления активами!
                </p>
                <p>
                    ES Invest Group — подразделение всемирной компании, которая специализируется на хеджировании, консалтинге, брокерских и инвестиционно-банковских услугах.

                    Ключевые сферы деятельности ES Invest Group
                    <ul>
                        <li>увеличение капитала клиентов за счет спекуляции на FOREX и бинарных опционах;</li>
                        <li>операции с криптовалютами;</li>
                            <li>работа с инвестиционным портфелем вкладчиков;</li>
                                <li>привлечение оборотных средств в стартапы;</li>
                                    <li>стратегический и антикризисный менеджемент.</li>
                    </ul>
                </p>
                <p>
                    Миссия IMS — создать конкурентный макроинвестиционный рынок, где получать регулярный и стабильный доход могут не только институционные вкладчики, но и частные инвесторы – физлица. Сегодня и сейчас мы открываем новые позиции, опираясь на общее направление глобальных тенденций развития мирового фондового рынка, изменения валютного курса и динамику учетных ставок.
                </p>
            </div>
            <div class="col-lg-4 col-md-10">
                <img src="{% static 'img/licence.jpg' %}" alt="" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-lg-1 col-md-2">
                <div class="center_on_mob">
                    <a href="{% static 'files/5EC97DBC-E856-4D33-A0A2-6106016CD51B.pdf' %}">
                        <img src="{% static 'img/pdf.png' %}" alt=""><br>
                        <span class="download">скачать</span>
                    </a>
                </div>
            </div>
        </div>
    </div>            
</section>
<section id="team" class="team">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1 col-2">
                <div class="orange_line"></div>
            </div>
            <div class="col-10">
                <h2>
                    Наша команда
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="team_member shadow_block mt20 mb20">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'img/aaron.jpg' %}" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="col-md-8">
                            <div class="name">
                                Нэйтан Бредли
                            </div>
                            <div class="post">
                                Менеджер
                            </div>
                            <div class="member_desc">
                                Работал рука об руку с основателем «ES  инвестициями в течении 10-и лет.
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team_member shadow_block mt20 mb20">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'img/charles.jpg' %}" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="col-md-8">
                            <div class="name">
                                Аарон Бёрнс
                            </div>
                            <div class="post">
                                Управляющий инвестициями
                            </div>
                            <div class="member_desc">
                                Выпускник Лондонский школы экономики и политических наук по специальности «Банковское право и финансовое регулирование». Более трёхсот успешных кейсов за 5 лет работы в «Clifford Chance», бывший ведущий специалист договорного отдела в «Centrica».
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
