{% extends "esInvestApp/base.html" %}
{% load static %}
{% block content %}
{% if messages %}

    {% for message in messages  %}
        <div class="alert {{ message.tags }}" role="alert" style="position: fixed; width:100%; z-index: 999;">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1 col-2">
                <div class="orange_line"></div>
            </div>
            <div class="col-10">
                <h2>
                    Личный кабинет
                </h2>
            </div>
        </div>

        <div class="lich_info shadow_block">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="hello">
                        Здравствуйте, {{ user.first_name }}!
                    </div>
                    <div class="id">
                        id {{ user.id }}
                    </div>
                    <div class="balans">
                        <div class="balans_title">
                            Баланс
                        </div>
                        <div class="balans_sum">
                            <sup>$</sup><span class="orange_teext">{{balance}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="btn standart_btn kab_btn mt20" role="button" data-toggle="modal" data-target="#depoz">Депозит</a>
                            <a href="#" class="btn standart_btn kab_btn mt20" role="button" data-toggle="tooltip" data-delay='{"show":"0", "hide":"3000"}' 
                            data-placement="top" title="Доступно только после закрытия минимум трех сделок общей суммой в 100$">Вывод</a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'esInvestApp:start' %}" class="btn standart_btn kab_btn mt20" role="button">Начать инвестировать</a>
                            <a href="#" class="btn standart_btn kab_btn disabled_btn mt20" role="button">Настройки</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    
                    <div class="kurs">
                        Курсы валют
                        <div class="kurs_info">
                            <div>
                                USD
                            </div>
                            <div class='{{usd_state}}'>
                                {{usd}}
                            </div>
                        </div>
                        <div class="kurs_info">
                            <div>
                                EUR
                            </div>
                            <div class='{{eur_state}}'>
                                {{eur}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="table_container shadow_block">
            <div class="table_title">
                Активные инвестиции
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane tab-pane1 active" id="t1">
                    <table class="table table-hover table-responsive-sm mb20">
                        <thead>
                            <tr>
                                <th class="not_on_mobile">№</th>
                                <th>Название</th>
                                <th>Срок</th>
                                <th>Сумма инвестиций</th>
                                <th>%</th>
                                <th>Прибыль</th>
                                <th>Дата</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in open_deals %}
                            <tr>
                                <td class="not_on_mobile">{{deal.id}}</td>
                                <td>Инвест проект {{deal.name}}</td>
                                <td>{{deal.term}} дн.</td>
                                <td>{{deal.summary}} $</td>
                                <td>{{deal.percent}}</td>
                                <td>{{deal.profit}} $</td>
                                <td>{{deal.create_date}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td class="not_on_mobile">-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>    

            
            <ul class="nav nav-pills justify-content-center">
                {% if open_deals.has_previous %}
                    <li class="nav-item">
                        <a href="?page={{ open_deals.previous_page_number }}" class="nav-link tab_arrow" aria-label="Previous" direction="prev">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                {% endif %}
        
                {% for num in open_deals.paginator.page_range %}
                    {% if num == open_deals.number %}
                    <li class="nav-item">
                        <a class="nav-link active switcher1"  data-toggle="pill" href="#">{{ num }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link switcher1" data-toggle="pill" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %} 
                {% endfor %}
                
        
                {% if open_deals.has_next %}
                <li class="nav-item">
                    <a class="nav-link tab_arrow" href="?page={{ open_deals.next_page_number }}" table-num="1" direction="next">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="table_container shadow_block">
            <div class="table_title">
                Закрытые инвестиции
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane tab-pane2 active" id="t21">
                    <table class="table table-hover table-responsive-sm mb20">
                        <thead>
                            <tr>
                                <th class="not_on_mobile">№</th>
                                <th>Название</th>
                                <th>Срок</th>
                                <th>Сумма инвестиций</th>
                                <th>%</th>
                                <th>Прибыль</th>
                                <th>Дата</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in closed_deals %}
                                <tr>
                                <td class="not_on_mobile">{{deal.id}}</td>
                                <td>Инвест проект {{deal.name}}</td>
                                <td>{{deal.term}} дн.</td>
                                <td>{{deal.summary}} $</td>
                                <td>{{deal.percent}}</td>
                                <td>{{deal.profit}} $</td>
                                <td>{{deal.create_date}}</td>
                                </tr>
                            {% empty %}
                                <tr></tr>
                                <td class="not_on_mobile">-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Nav pills -->
            <ul class="nav nav-pills justify-content-center">
                {% if closed_deals.has_previous %}
                    <li class="nav-item">
                        <a href="?page2={{ closed_deals.previous_page_number }}" class="nav-link tab_arrow" aria-label="Previous" direction="prev">
                            <i class="fas fa-chevron-left"></i>
                        </a>    
                    </li>
                {% endif %}
                {% for num in closed_deals.paginator.page_range %}
                    {% if num == closed_deals.number %}
                        <li class="nav-item">
                            <a class="nav-link active switcher1" data-toggle="pill" href="#">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link switcher1" data-toggle="pill" href="?page2={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if closed_deals.has_next %}
                    <li class="nav-item">
                        <a class="nav-link tab_arrow" href="?page2={{ closed_deals.next_page_number }}">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
</section>

<!-- The Modal -->
<div class="modal fade" id="depoz">
    <div class="modal-dialog modal-dialog-centered  modal-xl">
        <div class="modal-content modal_login modal_callback">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close white_close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h2>
                    Депозит
                </h2>
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <p>
                                            Планируемая сумма инвестиций
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="mail" class="invest_input" placeholder="100">
                                        <span>USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-2 offset-lg-2">
                                Способ оплаты
                            </div>
                            <div class="col-lg-2">
                                <label class="r_container"><img src="{% static 'img/visa_color.png' %}" alt="">
                                    <input type="radio" name="pay" value="visa">
                                    <span class="r_checkmark"></span>
                                </label>
                                <div class="left_text">
                                    <b>Visa</b>
                                </div> 
                            </div>
                            <div class="col-lg-2">
                                <label class="r_container"><img src="{% static 'img/Mastercard_color.png' %}" alt="">
                                    <input type="radio" name="pay" value="mastercard">
                                    <span class="r_checkmark"></span>
                                </label>
                                <div class="left_text">
                                    <b>Mastercard</b>
                                </div> 
                            </div>
                            <div class="col-lg-2">
                                <label class="r_container"><img src="{% static 'img/BC_Logotype.png' %}" alt="">
                                    <input type="radio" name="pay" value="bitcoin">
                                    <span class="r_checkmark"></span>
                                </label>
                                <div class="left_text">
                                    <b>BTC</b>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn standart_btn mb20 mt20">Ok</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}