{% extends "esInvestApp/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert" style="position: fixed; width:100%; z-index: 999;">
        Неверный Email или пароль! 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
    <!-- Login form -->
    <section id="cover" class="min-vh-100">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center cform p-3">
                        <h1 class="display-4 py-2 text-truncate">EsInvest</h1>
                        <div class="px-2">
                            <form action="" class="justify-content-center">
                                <div class="form-group">
                                    <label class="sr-only">Email</label>
                                    {{ form.username|add_class:"form-control"|attr:"id:username"|attr:"placeholder:Введите Email"|attr:"aria-describedby:usernameHelp"}}
                                </div>
                                <div class="form-group">
                                    <label class="sr-only">Пароль</label>
                                    {{ form.password|add_class:"form-control"|attr:"id:password1"|attr:"placeholder:Введите Пароль"|attr:"aria-describedby:password1Help"}}
                                </div>
                                <button type="submit" class="btn standart_btn btn-lg">Авторизация</button>
                                <input type="hidden" name="next" value="{% url 'esInvestApp:profile' %}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}